################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ElevatorControlSystem/bin/Debug/net7.0
/ElevatorControlSystem/obj
/.vs/ElevatorControlSystem
/ElevatorControlSystem.Contracts/obj
/ElevatorControlSystem.Contracts/bin/Debug/net7.0
